@import "tailwindcss";

/* Apply smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

body {
  background-color: transparent;
}

/* Set global font and background color */
* {
  font-family: Outfit, sans-serif;
}

/* Optional: ensure sections scroll correctly under fixed navbar */
section {
  scroll-margin-top: 5rem; /* adjust to match your navbar height */
}

p {
  text-align: justify;
}
